[submodule "rust"]
	path = rust
	url = https://github.com/Japabu/rust.git
[submodule "userland/libloading"]
	path = userland/libloading
	url = https://github.com/Japabu/rust_libloading.git
	shallow = true
[submodule "userland/memmap2"]
	path = userland/memmap2
	url = https://github.com/Japabu/memmap2-rs
	shallow = true
[submodule "userland/stacker"]
	path = userland/stacker
	url = https://github.com/Japabu/stacker.git
	shallow = true
[submodule "userland/target-lexicon"]
	path = userland/target-lexicon
	url = https://github.com/Japabu/target-lexicon.git
	shallow = true
[submodule "userland/filetime"]
	path = userland/filetime
	url = https://github.com/Japabu/filetime
	shallow = true
[submodule "userland/tar"]
	path = userland/tar
	url = https://github.com/Japabu/tar-rs
	shallow = true
[submodule "userland/mio"]
	path = userland/mio
	url = https://github.com/Japabu/mio.git
	shallow = true
[submodule "userland/tokio"]
	path = userland/tokio
	url = https://github.com/Japabu/tokio.git
	shallow = true
[submodule "userland/russh"]
	path = userland/russh
	url = https://github.com/Japabu/russh
	shallow = true
[submodule "userland/cargo"]
	path = userland/cargo
	url = https://github.com/Japabu/cargo.git
	shallow = true
[submodule "userland/socket2"]
	path = userland/socket2
	url = https://github.com/Japabu/socket2
	shallow = true
[submodule "userland/gitoxide"]
	path = userland/gitoxide
	url = https://github.com/Japabu/gitoxide
	shallow = true
[submodule "userland/errno"]
	path = userland/errno
	url = https://github.com/Japabu/rust-errno
[submodule "userland/is_executable"]
	path = userland/is_executable
	url = https://github.com/Japabu/is_executable
[submodule "userland/rust-url"]
	path = userland/rust-url
	url = https://github.com/Japabu/rust-url
[submodule "userland/ctrlc"]
	path = userland/ctrlc
	url = https://github.com/Japabu/rust-ctrlc
[submodule "userland/cpal"]
	path = userland/cpal
	url = https://github.com/Japabu/cpal.git
[submodule "userland/winit"]
	path = userland/winit
	url = https://github.com/Japabu/winit.git
[submodule "userland/softbuffer"]
	path = userland/softbuffer
	url = https://github.com/Japabu/softbuffer.git
[submodule "userland/raw-window-handle"]
	path = userland/raw-window-handle
	url = https://github.com/Japabu/raw-window-handle.git
[submodule "userland/rustix"]
	path = userland/rustix
	url = https://github.com/Japabu/rustix.git
