[submodule "rust"]
	path = rust
	url = https://github.com/Japabu/rust.git
[submodule "userland/libloading"]
	path = userland/libloading
	url = https://github.com/Japabu/rust_libloading.git
	shallow = true
[submodule "userland/stacker"]
	path = userland/stacker
	url = https://github.com/Japabu/stacker.git
	shallow = true
[submodule "userland/target-lexicon"]
	path = userland/target-lexicon
	url = https://github.com/Japabu/target-lexicon.git
	shallow = true
[submodule "toyos-abi"]
	path = toyos-abi
	url = https://github.com/Japabu/toyos-abi.git
[submodule "userland/cpal"]
	path = userland/cpal
	url = https://github.com/Japabu/cpal.git
[submodule "userland/winit"]
	path = userland/winit
	url = https://github.com/Japabu/winit.git
[submodule "userland/softbuffer"]
	path = userland/softbuffer
	url = https://github.com/Japabu/softbuffer.git
[submodule "userland/raw-window-handle"]
	path = userland/raw-window-handle
	url = https://github.com/Japabu/raw-window-handle.git
[submodule "userland/dlmalloc"]
	path = userland/dlmalloc
	url = https://github.com/Japabu/dlmalloc-rs
[submodule "userland/rust-libc"]
	path = userland/libc
	url = https://github.com/Japabu/libc
