[submodule "rust"]
	path = rust
	url = https://github.com/Japabu/rust.git
	branch = main
[submodule "userland/getrandom"]
	path = userland/getrandom
	url = https://github.com/Japabu/getrandom.git
[submodule "userland/libloading"]
	path = userland/libloading
	url = https://github.com/Japabu/rust_libloading.git
[submodule "userland/memmap2"]
	path = userland/memmap2
	url = https://github.com/Japabu/memmap2-rs
[submodule "userland/stacker"]
	path = userland/stacker
	url = https://github.com/Japabu/stacker.git
[submodule "userland/ctrlc"]
	path = userland/ctrlc
	url = https://github.com/Japabu/rust-ctrlc.git
[submodule "userland/target-lexicon"]
	path = userland/target-lexicon
	url = https://github.com/Japabu/target-lexicon.git
[submodule "userland/filetime"]
	path = userland/filetime
	url = https://github.com/Japabu/filetime
[submodule "userland/tar"]
	path = userland/tar
	url = https://github.com/Japabu/tar-rs
[submodule "userland/mio"]
	path = userland/mio
	url = https://github.com/Japabu/mio.git
[submodule "userland/tokio"]
	path = userland/tokio
	url = https://github.com/Japabu/tokio.git
[submodule "userland/russh"]
	path = userland/russh
	url = https://github.com/Japabu/russh
